
/* Universal */

body {
	font-size: 100%;
	font-family: helvetica, sans-serif;
}

/* the Header */

header {
	text-align: center;
}

p.a {
	text-align: center;
	font-variant: small-caps;
	font-family: Tahoma Geneva sans-serif;
	font-size: 3em;
	margin-bottom: -.2em;
}

